<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>{{pet.name}}</p>
    <p>{{pet.age}}</p>
    <p>{{pet.available}}</p>
    {%if pet.image.url %}
    <img src="{{ pet.image.url }}" >
    {%endif%}
    <p>{{pet.price}}</p>

    <a href="{% url 'pet-update' pet.id %}">
      <button type="button" name="button">Update</button>
    </a>
    <a href="{% url 'pet-delete' pet.id %}">
      <button type="button" name="button">Delete</button>
    </a>
  </body>
</html>
