{% extends "base.html" %}

{% block title %}Pet Shop{% endblock title %}

{% block content %}
<br>
<div class="row">


    {% for pet in pets %}
    <div class="col-12 col-sm-6 col-md-4 my-5">
      <div class="card list-card">
        {% if pet.image  %}
          <img src="{{pet.image.url}}" class="card-img-top " alt="...">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{pet.name}}</h5>
          <hr>
          <p class="card-text">Pet Age: {{pet.age}}</p>
        </div>
        <div class="card-footer" >
          <a href="{% url 'pet-detail' pet.id %}">
            <button type="submit" name="button" class="btn btn-lg btn-outline-primary btn-block">Read More</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}




</div>
{% endblock content %}
